body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-image: url(https://d3dfaj4bukarbm.cloudfront.net/staging/images/admin/8d260e6f-36a0-44ac-9a31-1b9ea91c2eb2.jpeg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #00b7ff;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  text-align: center;
  color: #fcc0c0;
  margin: 45px 0;
}

.title-encrypt {
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

.title-encrypt button {
  cursor: pointer;
  width: 10%;
  background-color: #196594;
  border-radius: 5px;
  border: none;
}
.title-encrypt h2 {
  color: aliceblue;
}

.content-encrypt {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  width: 45%;
}

.group-input {
  color: #fff;
  display: flex;
  align-items: center;
  margin: 20px;
}

.group-input label {
  width: 20%;
  float: left;
  font-size: 22px;
}

.group-input input {
  width: 70%;
  float: left;
  height: 35px;
  font-size: large;
}

.clear-both {
  clear: both;
}

body {
  font-family: Arial;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.text-key{
  color: #fff;
  font-size: 18px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.encrypted {
  width: 20%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px;
  background: #0091eb;
  box-shadow: 0px 1.85969px 1.71664px rgba(0,0,0,0.0112458), 0px 4.46909px 4.12532px rgba(0,0,0,0.0161557), 0px 8.41491px 7.76761px rgba(0,0,0,0.02);
}

.bg-decrypted {
  background-color: #faa918 !important;
}

.title-encrypt .h1-Encrypted {
  margin-top: 70px;
  color: #fff;
}

.button-header {
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  float: left;
  margin-right: 15px;
  padding: 10px;
}

.button-header:last-child {
  margin-right: 0;
}

.button-header#encrypt {
  background-color: #196594;
}
.button-header#encrypt a {
  color: #ffffff !important;
}

.button-header#decrypt {
  background-color: #faa918;
}

.button-header#decrypt a {
  color: #3e3e3e !important;
}

.button-header a {
  text-decoration: none;
}

.color-decrypt {
  background-color: #faa918 !important;
}

.color-decrypt h2 {
  color: #3e3e3e !important;
}
